html {
    font-family: sans-serif;
}

#sign-in-status-box, #sign-in-status-box > form > input[type=submit] {
    float: right;
}

#breadcrumbs, #breadcrumbs > a, #sign-in-status-box {
    color: #555;
    margin-bottom: 1em;
}

th {
    text-align: left;
}
table, th, td {
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 0.3em;
}
